<h2>Here is Today's Suggested Practice Activity</h2>

    <div  class="slide" ng-repeat="lesson in responses">
                <p>Practice Title: {{lesson.title}}</p>
                <p>Lesson Description: {{lesson.description}}</p>
                <img ng-src={{lesson.imgurl}}>
            </div>



<div layout="row" class="timer" ng-controller="TimerController">
    <h5>Timer: </h5>
    <div class="formattedtime">{{formattedTime}}</div>
    <md-button class="md-raised" ng-click="startCountdown()">Start</md-button>
    <md-button class="md-raised" ng-click="stop()">Stop</md-button>
</div>
e